<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="helloTuneService" class="org.example.HelloTuneService" />
    <bean id="missedCallService" class="org.example.MissedCallAlertService"/>

    <bean id="airtel" class="org.example.Airtel">
        <property name="service" ref="helloTuneService"/>
    </bean>

</beans>